---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found | Aditya Kajla">
    <h1 class="mb-8 text-2xl font-semibold">Not found</h1>
    <img src="/kobe-dunk.gif" alt="Not Found" class="mx-auto max-w-full rounded-lg" loading="lazy" />
</Layout>
