---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1 class="mb-8 text-2xl font-semibold">Aditya Kajla</h1>
    <p class="mb-4">
        👋 I&apos;m Aditya. I&apos;m an entrepreneur, and software engineer
        based in California, building Radial.
    </p>
    <p class="mb-4">
        I previously co-founded <a
            class="underline"
            target="_blank"
            href="https://warrant.dev">Warrant</a
        >, which was acquired by WorkOS in 2024. Prior to Warrant, I built
        software products and infrastructure at Lyft, Medallia, and Yahoo.
    </p>
    <p class="mb-4">
        Topics (sometimes unrelated) I&apos;m interested in: AI/LLMs,
        software infrastructure, distributed systems, databases, devtools,
        finance, NBA basketball (Lakers), and tennis.
    </p>
</Layout>
