---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1 class="mb-8 text-2xl font-semibold">Aditya Kajla</h1>
    <p class="mb-4">
        👋 I&apos;m Aditya. I&apos;m an entrepreneur, and software engineer
        based in California.
    </p>
    <p class="mb-4">
        I previously co-founded <a
            class="underline"
            target="_blank"
            href="https://warrant.dev">Warrant</a
        >, which was acquired by WorkOS in 2024. Prior to Warrant, I built
        products and infrastructure at Lyft, Medallia, and Yahoo.
    </p>
    <p class="mb-4">
        Some (mostly unrelated) things I&apos;m interested in: AI,
        distributed systems, databases, devtools, leading teams, finance,
        basketball, and tennis.
    </p>
</Layout>
